@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



body {
    background-image: url('wallpaper.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat:no-repeat;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 40px;
    font-style: normal;
}

p {
    font-family: "Instrument Serif", serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(255, 255, 255);
    font-size: 42px;
}

.searchbox {
    display:flex;
    justify-content: center;
    position: relative; 
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 45vh; 
    margin-bottom: auto;
}

.inputField {
    position: relative;
    background-color: rgba(255, 255, 255, 0);
    color: rgba(41, 41, 41, 0.497);
    border-color: rgba(75, 75, 75, 0.422);
    border-radius: 20px;
    border-width: 3px;
    border-style: solid;
    backdrop-filter: blur(5px);
    height: 50px;
}
