@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    background-color: rgb(0, 0, 0);
}

p {
    font-family: "Instrument Serif", serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(255, 255, 255);
    font-size: 42px;
}

.searchbox {
    background-color: black;
    display:flex;
    position: absolute; 
    margin-left: 35%;
    margin-top: 350px; 
    margin-bottom: auto;
    
}

.inputField {
    background-color: black;
    color: white;
    font-family: "Instrument Serif", serif;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 10px;
    border-width: 2px;
    border-color: white;
}
